# Archivos y directorios generados automáticamente
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Archivos y directorios específicos del entorno
venv/
env/

# Archivos de configuración personal
*.config
*.conf
.env

# Archivos de registro y salidas
*.log
*.out

# Archivos de construcción y distribución
build/
dist/

# Archivos de IDE y editor
.vscode/
.idea/

# Archivos locales y temporales
*.swp
*.swo
*.tmp
*.bak

# Archivos de sistema macOS
.DS_Store

# Archivos de sistema Windows
Thumbs.db

# Archivos de respaldo
*~

# Archivos de configuración del entorno virtual
pip-log.txt
